.shContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shTitle {
    text-align: center;
}

.leftSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}